
:root {
    --color1: #0d1720;
    --color2: black;
    --white: white;
    --lolColor: linear-gradient(120deg, #c49e54, #a9813e, #dfd182, #caa959, #baa05b);
    --lolColor2: #2dfcfb;
    --borderColor: rgba(5, 5, 5, 0.993);
    --bgColor: #0d1720;
    --windowColor: rgba(0, 0, 0, 0.459);
    --hover: rgb(255, 255, 0);
}