*, *::before, *::after {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    box-sizing: border-box;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

:root {
    --color1: #0d1720;
    --color2: black;
    --white: white;
    --lolColor: linear-gradient(120deg, #c49e54, #a9813e, #dfd182, #caa959, #baa05b);
    --lolColor2: #2dfcfb;
    --borderColor: rgba(5, 5, 5, 0.993);
    --bgColor: #0d1720;
    --windowColor: rgba(0, 0, 0, 0.459);
    --hover: rgb(255, 255, 0);
    --textColor: rgba(142, 204, 136, 0.856);
}

body {
    height: 100vh;
    width: 100vw;
    line-height: 1;
    background-image: url(/public/images/lolBackground.jpg);
    background-size: cover;
    background-position: center;
}
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleImage {
    width: 33%;
    max-width: 25rem;
}
.git {
    color: rgba(142, 204, 136, 0.856);
    font-size: 2.5vw;
    margin: 0 2.2vw;
    max-width: 25rem;
}
.git:hover {
    color: rgb(142, 204, 136);
}

.homepageDiv {
    display: flex;
    justify-content: center;
}
.homepageDiv > iframe {
    border-radius: 30px;
    box-shadow: 2px 2px 5px 2px;
    background-color: var(--borderColor);
}


.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

